.house_zone{margin-left:100px;width:140px;color:#45A21C;font-weight:bold;}
.house_price{width:90px;}
.house_price{color:#DA5E43;}
.house_size{width:90px;color:grey;}
.house_create_time{width:222px;float:right;color:grey;}
.house_info div{float:left;font-size:16px;}
.house_info{100%;height;35px;margin:15px auto;font-size:14px;text-align:center;float:left;}
.user_info li{font-size:16px;line-height:30px;margin-left:5px;}
.company_name{font-weight:bold;font-size:18px;text-align:center;line-height:36px;}
.personal_info li{font-size:16px;line-height:30px;margin-left:5px;}