<include file="./Application/Home/View/Index/sub_header.html" title="{$site_info.title}" keywords="{$site_info.keywords}" description="{$site_info.description}"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">	
</head>	
<body>
<include file="./Application/Home/View/Index/sub_top.html" site_url="{$site_info.area_url}" site_name="{$site_info.web_name}" user_name="{$user_info.person_name}" />
		<div class="header">
				<div class="header_logo">
					<a href="{$site_info.area_url}"><img alt="{$site_info.web_name}" src="__PUBLIC__/img/logo/{$site_info.area_id}.png" width="121px" height="75px"></img></a>
				</div>
				<div class="header_search">
					<input id="searchValue"  name="searchValue" field='searchValue'   class="easyui-combobox" style="width:266px;height:36px;" 					
					data-options="  prompt:'房源编号、手机号、小区名或拼音',
								    loader: myloader,
									mode: 'remote',
									valueField: 'id',
									textField: 'text',
									formatter: formatItem,
									panelWidth: 350,
									panelHeight:'auto',">	
					</input>
					<a href="javascript:void(0)" class="easyui-linkbutton search_button" onclick="searchHouse()">查 找</a>
					<a target=_blank style="" href="http://{$Think.server.server_name}/index/mapHouse.html" class="easyui-linkbutton">地图找房</a>						
			</div>
		</div>
		<div class="nav">
			<ul>
					<li ><a href="http://{$Think.server.server_name}">首  页</a></li>
					<li ><a onclick='$("html,body").animate({scrollTop: $(".main_box").offset().top}, 1000);$("#index_tabs").tabs("select","&nbsp;买 &nbsp; 房");'>买 房</a></li>
					<li ><a onclick='$("html,body").animate({scrollTop: $(".main_box").offset().top}, 1000);$("#index_tabs").tabs("select","&nbsp;租 &nbsp; 房");'>租 房</a></li>
					<li ><a onclick='$("html,body").animate({scrollTop: $(".main_box").offset().top}, 1000);$("#index_tabs").tabs("select","门市/厂房");'>门市/厂房</a></li>
					<li ><a onclick='$("html,body").animate({scrollTop: $(".main_box").offset().top}, 1000);$("#index_tabs").tabs("select","车库/车位");'>车库/车位</a></li>
					<li><a target=_blank href="http://{$Think.server.server_name}/index/mapHouse.html">地图找房</a></li>
			</ul>
		</div>
		<div class="login_box"  style="">
			<div class="user_login" style="" >
			<eq name="user_info.password" value="">
				<div  class="yuan_login_button" style="height:78px;  background-color:#45A21C; ">
					<div style="padding:10px 0 16px 6px; height:26px;" onclick="location.href='http://{$Think.server.server_name}/index/register.html'">中介登陆</div>
					<div style="font-size:13px;text-align:right;"><a target=_blank id="advantage" href="http://{$Think.server.server_name}/index/news/id/14.html" style="color:white;">了解加后有何优势!</a></div>
				</div>
				<div  class="yuan_login_button" style="height:38px; margin-top:3px; background-color:#DA5E43; ">
					<div style="padding:10px 0 0 6px;  line-height:16px; "><a class="my_button" href="http://{$Think.server.server_name}/index/personAddHouse.html">个人发布</a></div>
				</div>
			<else/>
				<div style="font-size:16px;margin:10px auto;">{$user_info.company_name}</div>
				<a style="height:36px;"  href="http://{$Think.server.server_name}/u/manage" class="easyui-linkbutton" >进入后台管理</a>
				<a style="height:36px;"  href="http://{$Think.server.server_name}/u/logOff" class="easyui-linkbutton" >退 出</a>
			</eq>
			</div>
			<div class="brand">
					<div class="user_ad">
					    <a href="#">
							<div class="user_ad_title">惠民房产</div>
							<div class="user_ad_tel">电话:13315199113</div>
						</a>
					</div>
					<div class="user_ad">
						<a target=_blank href="http://{$Think.server.server_name}/a/25">
							<div class="user_ad_title">万通中介</div>
							<div class="user_ad_tel">电话:13931991358</div>
						</a>
					</div>
					<div class="user_ad">
					    <a target=_blank href="http://{$Think.server.server_name}/a/26">
							<div class="user_ad_title">常安中介</div>
							<div class="user_ad_tel">电话:15931114687</div>
						</a>
					</div>
					
					<div class="user_ad">
						<div class="user_ad_title">寻求合作</div>
						<div class="user_ad_tel">电话:13932176996</div>
					</div>
						<!--{$site_info.famouse_user}-->		
			</div>
		</div>
		<div class="main_box">		
<div style="clear:both;"></div>
			 <div id="index_tabs" class="easyui-tabs info_tabs"  data-options="tabPosition:'top',tabHeight:'36'">
					 <div title="&nbsp;买 &nbsp; 房" style="padding:10px;">
							<ul>
								<foreach name="sellHouse" item="s">
									<li class="info_li">
									<a target=_blank href="http://{$Think.server.server_name}/house/detail/id/{$s.id}.html">
										<gt name="s.hurry_to_time" value="1">
											<span style="color:red;" class="info_tabs_title">{$s.title}<span class="lab lab_hurry">急</span><span class="lab lab_top">顶</span></span>
										<else/> 
											<span class="info_tabs_title">{$s.title}<span class="lab lab_top">顶</span></span>
										</gt>
										<span class="info_tabs_zone">{$s.zone_name}</span> <span class="info_tabs_size">{$s.size}平</span> <span class="info_tabs_price">{$s.price}</span> <span class="info_tabs_date">{$s.create_time}</span>	
									</a>
									</li>
								</foreach>
							</ul>
							<ul id="moreHousesList0"></ul>
							<div onClick="getMoreHouseList()" class="loadingmore" id="moreresults0">下一页</div>
					 </div>
					 <div title="&nbsp;租 &nbsp; 房" style="padding:10px">
							<ul>
								<foreach name="rentHouse" item="s">
									<li class="info_li">
									<a target=_blank href="http://{$Think.server.server_name}/house/detail/id/{$s.id}.html">
										<gt name="s.hurry_to_time" value="1">
											<span style="color:red;" class="info_tabs_title">{$s.title}<span class="lab lab_hurry">急</span><span class="lab lab_top">顶</span></span>
										<else/> 
											<span class="info_tabs_title">{$s.title}<span class="lab lab_top">顶</span></span>
										</gt>
										<span class="info_tabs_zone">{$s.zone_name}</span> <span class="info_tabs_size">{$s.size}平</span> <span class="info_tabs_price">{$s.price}</span> <span class="info_tabs_date">{$s.create_time}</span>	
									</a>
									</li>
								</foreach>
							</ul>
							<ul id="moreHousesList1"></ul>
							<div onclick="getMoreHouseList();" class="loadingmore" id="moreresults1">下一页</div>
					 </div>
					 <div title="门市/厂房" style="padding:10px">
					    <ul>
							<foreach name="shopHouse" item="s">
								<li class="info_li">
								<a target=_blank href="http://{$Think.server.server_name}/house/detail/id/{$s.id}.html">
									<gt name="s.hurry_to_time" value="1">
										<span style="color:red;" class="info_tabs_title">{$s.title}<span class="lab lab_hurry">急</span><span class="lab lab_top">顶</span></span>
									<else/> 
										<span class="info_tabs_title">{$s.title}<span class="lab lab_top">顶</span></span>
									</gt>
									<span class="info_tabs_zone">{$s.zone_name}</span> <span class="info_tabs_size">{$s.size}平</span> <span class="info_tabs_price">{$s.price}</span> <span class="info_tabs_date">{$s.create_time}</span>	
								</a>
								</li>
							</foreach>
						</ul>
						<ul id="moreHousesList2"></ul>
						<div onclick="getMoreHouseList();" class="loadingmore" id="moreresults2">下一页</div>
					 </div>
					 <div title="车库/车位" style="padding:10px">
						<ul>
							<foreach name="garageHouse" item="s">
								<li class="info_li">
								<a target=_blank href="http://{$Think.server.server_name}/house/detail/id/{$s.id}.html">
									<gt name="s.hurry_to_time" value="1">
										<span style="color:red;" class="info_tabs_title">{$s.title}<span class="lab lab_hurry">急</span><span class="lab lab_top">顶</span></span>
									<else/> 
										<span class="info_tabs_title">{$s.title}<span class="lab lab_top">顶</span></span>
									</gt>
									<span class="info_tabs_zone">{$s.zone_name}</span> <span class="info_tabs_size">{$s.size}平</span> <span class="info_tabs_price">{$s.price}</span> <span class="info_tabs_date">{$s.create_time}</span>	
								</a>
								</li>
							</foreach>
						</ul>
						<ul id="moreHousesList3"></ul>
						<div onclick="getMoreHouseList();" class="loadingmore" id="moreresults3">下一页</div>
					 </div>
					 
			 </div>
			 
			  <div class="ad_box_right">
				<span class="ad_box_title">广告位招商</span><br/>联系电话:13932176996
			 </div>
			 
			 <div class="ad_box_right" style="height:80px;" >
				<span class="ad_box_title">便民服务</span>
				<div style="text-align:left;margin:5px 5px;"><a target=_blank href="http://gcfang.cn/wz.html">*藁城违章摄像头一览</a></div>
				<div style="text-align:left;margin:5px 5px;"><a target=_blank href="http://gcfang.cn/index/news/id/21.html">*藁城公交路线图</a></div>
			 </div>

<div style="clear:both;"></div>
<div class="loading" id="loading">正加载更多房源信息~请耐心等待.......</div>
<div class="loading" id="nomoreresults">没有更多的房源信息了~</div>
		</div>
		<div class="friend_link_box">
			<b><a href="#">友情链接与合作伙伴:</a></b>
			<a target=_blank href="#">百度</a>
		</div>
		<include file="./Application/Home/View/Index/sub_foot.html" connect_us="{$site_info.connect_us}" web_name="{$site_info.web_name}" count_code="{$site_info.count_code}" />
<script>
 function getMoreHouseList(){ 
			var tab = $('#index_tabs').tabs('getSelected');
			var tabNo = $('#index_tabs').tabs('getTabIndex',tab); //index 0:出售 1:出租 2:门市/厂房 3:车库/车位
			$.ajax({ 
				url: "http://{$Think.server.server_name}/index/getMoreHouseList", 
				type: 'POST',
				dataType: 'html',
				data: 'tabNo='+tabNo+'&&liNo='+$('#moreHousesList'+tabNo).children('li').size(),
				beforeSend: function(){
					 $('#loading').fadeIn();	
				},
				success: function(data){
					if(data){
						$('#moreHousesList'+tabNo).append(data);
						$('#loading').fadeOut();
					}else{
						$('#moreresults'+tabNo).fadeOut();
						$('#loading').fadeOut();
						$('#nomoreresults').fadeIn();
					} 
				},
				error:function(){ alert('ajax error'); },
			});
}
function searchHouse(){
	var q = $("input[name='searchValue']").val() || '';
	if (q.length <= 0){return false;}
	$(".textbox-addon-right").css("width","18px");
	//alert($("input[name='searchValue']").val());
	var houseURL = 'http://{$Think.server.server_name}/house/detail/id/';
			$.ajax({
					url: 'http://{$Think.server.server_name}/house/searchHouse',
					type: 'POST',
					dataType: 'json',
					data: 'searchValue='+$("input[name='searchValue']").val(),
					success: function(data){
							$(".textbox-addon-right").css("width","0px");
							if(!data.success)$.messager.alert('提示',data.err,'error');
							if(data.houseid){location.href = houseURL+data.houseInfo.id;}
							if(data.telhouseone){location.href = houseURL+data.houseInfo[0].id;}
							if(data.telhouseduo){
//1.创建 tab 2.加载列表 3.下拉刷新
								if ($('#index_tabs').tabs('exists','搜索结果')){
									$('#index_tabs').tabs('select','搜索结果');
								} else {
									$('#index_tabs').tabs('add',{
										title:'搜索结果',
										href:'http://{$Think.server.server_name}/index/getMoreHouseList/indexSearchValue/'+$("input[name='searchValue']").val(),
										closable:false,
										extractor:function(data){
											data = $.fn.panel.defaults.extractor(data);
											var tmp = $('<div></div>').html(data);
											data = tmp.find('#content').html();
											tmp.remove();
											return data;
										}
									});
								}
								
							}
							if(data.user){
								 $.messager.confirm('搜索结果', '此号码属于 ['+data.houseInfo.company_name+' ],是否跳转到商家首页?', function(r){
									if (r){
										location.href = data.houseInfo.shop_url;
									}
								});
							}
							if(data.zonename){
								location.href = 'http://{$Think.server.server_name}/house/zoneDetail/id/'+data.houseInfo.id+'.html';
								//alert(data.houseInfo.baidu_coordinate);
							}
							//alert(data.houseInfo.title);
					},
					error: function(){
							error.apply(this, arguments);
					}
			});		
}
//■■■■■■■■■■■■■■■■■■■■■■auto complete
var myloader = function(param,success,error){  
			var q = param.q || '';
			if (q.length <= 0){return false;}
			$(".textbox-addon-right").css("width","18px");
			$.ajax({
					url: 'http://{$Think.server.server_name}/house/autoCompleteZone',
					dataType: 'jsonp',
					data: {
							featureClass: "P",
							style: "full",
							maxRows: 10,
							name_startsWith: q
					},
					success: function(data){
							$(".textbox-addon-right").css("width","0px");
							var items = $.map(data, function(item){
							return {
									id: item.text,
									text: item.text,
									address: item.address,
								};
							});
							success(items);
					},
					error: function(){
							error.apply(this, arguments);
					}
			});
	}
function formatItem(row){    //■■■■■■■■■■■■■■■■■■■■■■调整搜索结果下拉格式
			//var s = '<span class="autoCompleteList">' + row.text + '</span>' ;
			var s = '<span style="font-weight:bold;font-size:16px;">' + row.text + '</span><br/>' +
                    '<span style="color:#888">' + row.address + '</span>';
			return s;
}
</script>
<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
</body>
</html>