<include file="./Application/Home/View/Index/sub_header.html" title="{$site_info.area_name}地图找房 {$site_info.title}" keywords="{$site_info.keywords}" description="{$site_info.description}"/>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nlmv0V9pCDtmCuMIr6gDzWAn"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mapHouse.css">	
</head>	
<body>
				<div class="main_left">
						  <div class="main_left_title"><h1>地图找房</h1></div>
						  <div class="main_left_back"><a href="http://{$Think.server.server_name}">返回首页</a></div>
						  <div class="select_button">
								<div id="sell_type1" class="sell_type" onclick="sell_type=1;getHouseMapInfoList(1,house_type);">出售</div>
								<div id="sell_type2" class="sell_type" onclick="sell_type=2;getHouseMapInfoList(2,house_type);"> 出租</div>
						  </div>	
						  <div class="select_button">
								<div id="house_type1" class="house_type" onclick="house_type=1;getHouseMapInfoList(sell_type,1);">二手房</div>
								<div id="house_type2" class="house_type" onclick="house_type=2;getHouseMapInfoList(sell_type,2);">门市/厂房</div>
								<div id="house_type3" class="house_type" onclick="house_type=3;getHouseMapInfoList(sell_type,3);">车库/车位</div>
						  </div>		 
				</div>
				<div id="allmap"></div>	
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var mp = new BMap.Map("allmap", {enableMapClick:false}); //构造底图时，关闭底图可点功能
	mp.centerAndZoom(new BMap.Point(114.854, 38.028), 15);
	mp.enableScrollWheelZoom();
	//设置版权控件
	var cr = new BMap.CopyrightControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT});   
	mp.addControl(cr); //添加版权控件
	var bs = mp.getBounds();   //返回地图可视区域
	cr.addCopyright({id: 1, content: "<a href='#' style='font-size:20px;background:green;'></a>", bounds: bs});
//添加控件和比例尺
	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件

	mp.addControl(top_left_control);        
	mp.addControl(top_left_navigation);     

	// 复杂的自定义覆盖物
    function ComplexCustomOverlay(point, text, mouseoverText){
      this._point = point;
      this._text = text;
      this._overText = mouseoverText;
    }
    ComplexCustomOverlay.prototype = new BMap.Overlay();
    ComplexCustomOverlay.prototype.initialize = function(map){
      this._map = map;
      var div = this._div = document.createElement("div");
      div.style.position = "absolute";
      div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat);
      div.style.backgroundColor = "#EE5D5B";
      div.style.border = "1px solid #BC3B3A";
      div.style.color = "white";
      div.style.height = "18px";
      div.style.padding = "2px";
      div.style.lineHeight = "18px";
      div.style.whiteSpace = "nowrap";
      div.style.MozUserSelect = "none";
      div.style.fontSize = "18px"
      var span = this._span = document.createElement("span");
      div.appendChild(span);
      span.appendChild(document.createTextNode(this._text));      
      var that = this;

      var arrow = this._arrow = document.createElement("div");
	  arrow.style.background = "url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) no-repeat";
      arrow.style.position = "absolute";
      arrow.style.width = "11px";
      arrow.style.height = "10px";
      arrow.style.top = "22px";
      arrow.style.left = "10px";
      arrow.style.overflow = "hidden";
      div.appendChild(arrow);

      div.onmouseover = function(){
        this.style.backgroundColor = "#7BB44F";
        this.style.borderColor = "grey";
        this.getElementsByTagName("span")[0].innerHTML = that._overText;
        arrow.style.backgroundPosition = "0px -20px";
      }

      div.onmouseout = function(){
        this.style.backgroundColor = "#DA5E43";
        this.style.borderColor = "#BC3B3A";
        this.getElementsByTagName("span")[0].innerHTML = that._text;
        arrow.style.backgroundPosition = "0px 0px";
      }
      mp.getPanes().labelPane.appendChild(div);
      return div;
    }
    ComplexCustomOverlay.prototype.draw = function(){
      var map = this._map;
      var pixel = map.pointToOverlayPixel(this._point);
      this._div.style.left = pixel.x - parseInt(this._arrow.style.left) + "px";
      this._div.style.top  = pixel.y - 30 + "px";
    }
	//构造点击时间
	ComplexCustomOverlay.prototype.addEventListener = function(event,fun){ this._div['on'+event] = fun;}
	
	function getHouseMapInfoList(sell_type,house_type){ 
		mp.clearOverlays(); 
		for (var i=1;i<3;i++){
			if(i==sell_type){
				 $("#sell_type"+i).css("color","#DA5E43");
				 $("#sell_type"+i).css("border","2px solid black");
				 $("#sell_type"+i).css("cursor","default");
			}else{
				 $("#sell_type"+i).css("color","grey");
				 $("#sell_type"+i).css("border","2px solid #C0C0C0");
				 $("#sell_type"+i).css("cursor","pointer");
			}
		}
		for (var i=1;i<4;i++){
			if(i==house_type){
				 $("#house_type"+i).css("color","#DA5E43");
				 $("#house_type"+i).css("border","2px solid black");
				 $("#house_type"+i).css("cursor","default");
			}else{
				 $("#house_type"+i).css("color","grey");
				 $("#house_type"+i).css("border","2px solid #C0C0C0");
				 $("#house_type"+i).css("cursor","pointer");
			}
		}
		
	    if(1==sell_type&&1==house_type){ 
				<foreach name="sellHouse" item="zone" >
					<notempty name="zone.baidu_coordinate">
							var txt = {$zone.housesum}+"套", mouseoverTxt = txt + " " + "{$zone.name}(点击查看)" ;
							var myCompOverlay = new ComplexCustomOverlay(new BMap.Point({$zone.baidu_coordinate}), {$zone.housesum}+"套",mouseoverTxt);
							mp.addOverlay(myCompOverlay);
							myCompOverlay.addEventListener('click',function(){window.open('http://{$Think.server.server_name}/house/zoneDetail/id/'+{$zone.id}+'.html');});
					</notempty>
				</foreach>
		}
		 if(2==sell_type&&1==house_type){ 
				<foreach name="rentHouse" item="zone" >
					<notempty name="zone.baidu_coordinate">
							var txt = {$zone.housesum}+"套", mouseoverTxt = txt + " " + "{$zone.name}(点击查看)" ;
							var myCompOverlay = new ComplexCustomOverlay(new BMap.Point({$zone.baidu_coordinate}), {$zone.housesum}+"套",mouseoverTxt);
							mp.addOverlay(myCompOverlay);
							myCompOverlay.addEventListener('click',function(){window.open('http://{$Think.server.server_name}/house/zoneDetail/id/'+{$zone.id}+'.html');});
					</notempty>
				</foreach>
		}
		 if(1==sell_type&&2==house_type){ 
				<foreach name="sellShop" item="zone" >
					<notempty name="zone.baidu_coordinate">
							var txt = {$zone.housesum}+"套", mouseoverTxt = txt + " " + "{$zone.name}(点击查看)" ;
							var myCompOverlay = new ComplexCustomOverlay(new BMap.Point({$zone.baidu_coordinate}), {$zone.housesum}+"套",mouseoverTxt);
							mp.addOverlay(myCompOverlay);
							myCompOverlay.addEventListener('click',function(){window.open('http://{$Think.server.server_name}/house/zoneDetail/id/'+{$zone.id}+'.html');});
					</notempty>
				</foreach>
		}
		 if(2==sell_type&&2==house_type){ 
				<foreach name="rentShop" item="zone" >
					<notempty name="zone.baidu_coordinate">
							var txt = {$zone.housesum}+"套", mouseoverTxt = txt + " " + "{$zone.name}(点击查看)" ;
							var myCompOverlay = new ComplexCustomOverlay(new BMap.Point({$zone.baidu_coordinate}), {$zone.housesum}+"套",mouseoverTxt);
							mp.addOverlay(myCompOverlay);
							myCompOverlay.addEventListener('click',function(){window.open('http://{$Think.server.server_name}/house/zoneDetail/id/'+{$zone.id}+'.html');});
					</notempty>
				</foreach>
		}
		 if(1==sell_type&&3==house_type){ 
				<foreach name="sellGarage" item="zone" >
					<notempty name="zone.baidu_coordinate">
							var txt = {$zone.housesum}+"套", mouseoverTxt = txt + " " + "{$zone.name}(点击查看)" ;
							var myCompOverlay = new ComplexCustomOverlay(new BMap.Point({$zone.baidu_coordinate}), {$zone.housesum}+"套",mouseoverTxt);
							mp.addOverlay(myCompOverlay);
							myCompOverlay.addEventListener('click',function(){window.open('http://{$Think.server.server_name}/house/zoneDetail/id/'+{$zone.id}+'.html');});
					</notempty>
				</foreach>
		}
		 if(2==sell_type&&3==house_type){ 
				<foreach name="rentGarage" item="zone" >
					<notempty name="zone.baidu_coordinate">
							var txt = {$zone.housesum}+"套", mouseoverTxt = txt + " " + "{$zone.name}(点击查看)" ;
							var myCompOverlay = new ComplexCustomOverlay(new BMap.Point({$zone.baidu_coordinate}), {$zone.housesum}+"套",mouseoverTxt);
							mp.addOverlay(myCompOverlay);
							myCompOverlay.addEventListener('click',function(){window.open('http://{$Think.server.server_name}/house/zoneDetail/id/'+{$zone.id}+'.html');});
					</notempty>
				</foreach>
		}
	}//end of getHouseMapInfoList()

	var sell_type  = 1;
	var house_type = 1;
	getHouseMapInfoList(sell_type,house_type);
</script>