<include file="./Application/Home/View/Index/sub_header.html" title="{$site_info.title}" keywords="{$site_info.keywords}" description="{$site_info.description}"  />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register.css">	
</head>	
<body>
		<include file="./Application/Home/View/Index/sub_nav.html" web_name="{$site_info.web_name}" />	
		<div class="common_box" >
				<div style="width:980px;height:100%;margin:0 auto;">
				  <div style="width:490px;height:572px;margin:10px 0 0 0;float:left;border:solid 1px grey;">
					 <div class="sub_title" style="line-height:40px;margin:20px 0 40px 0;color:#DA5E43;width:100%;text-align:center;" >免费注册,免费发布信息</div>
					 <form id="register_form" method="post" class="easyui-form" data-options="novalidate:true">
					<div class="my_input">
						 手机号码: 
						 <input style="width:150px;" class="easyui-textbox" type="text" id="tel" field="tel" name="tel"  data-options="required:true,validType:['length[11,11]'],invalidMessage:'请输入11位的手机号码'"></input>
					</div>
					<div class="my_note">当您发布信息时此号码将显示在网页上,同时这也是您登陆本网站的用户名称</div>
					 <div class="my_input">	
							 设置密码:
							 <input style="width:150px;" class="easyui-textbox" type="password" field="password" name="password" data-options="prompt:'',required:true,validType:['length[6,20]'],invalidMessage:'请输入6位以上的密码'"></input>
					 </div>
					 <div class="my_input">
							 您的姓名:
							 <input style="width:150px;" class="easyui-textbox" type="text" field="person_name" name="person_name" data-options="prompt:'',required:true"></input>
					 </div>
					 <div class="my_input">
							 公司名称:
							 <input style="width:250px;" class="easyui-textbox" type="text" field="company_name" name="company_name" data-options="prompt:'',required:true"></input>
					 </div>
					 <div class="my_input">
							 办公地址:
							 <input style="width:350px;" class="easyui-textbox" type="text" field="address" name="address" data-options="required:true"></input>
					 </div>
					 <div class="my_note">(以下为选填信息:建议填写)</div>
					 <div class="my_input">
							 联系QQ :
							 <input style="width:150px;" class="easyui-textbox" type="text" field="qq" name="qq" ></input>
					 </div>
					 <div class="my_input">
							 公司电话: 
							 <input style="width:150px;" class="easyui-textbox" type="text" field="shop_tel" name="shop_tel" ></input>
					 </div>
					 <div class="my_input">
							 公司简介:
							 <input style="width:350px;" class="easyui-textbox" type="text" field="about_us" name="about_us" data-options="prompt:''"></input>
					 </div>
					 <div class="my_input">
							  验 证 码 :
							   <input style="width:75px;" class="easyui-textbox" type="text" name="valid_code" data-options="required:true"  ></input>
							   <input type="hidden" name="valid_id" value="1">
							   <img id="valid_1" onclick="this.src='http://{$Think.server.server_name}/index/verify_code?id=1&&rnd='+Math.random()" src="http://{$Think.server.server_name}/index/verify_code?id=1&&rnd"+Math.random()/>
							   <span style="font-size:14px;">点击图片刷新</span>
					 </div>
					 <div class="my_input" style="">
							<div  style="background-color:#DA5E43;" onclick="submitRegisterForm();" class="yuan_login_button" ><div style="margin:3px 0 0 64px;">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</div></div>
					 </div>
					 </form>      
				  </div>
				  <div style="width:430px;height:385px;margin:10px 0 0 30px;font-size:14px;float:left;border:1px solid grey;">
						<div class="sub_title" style="line-height:40px;margin:20px 0 40px 0;color:#45A21C;width:100%;text-align:center;">如果您已拥有帐户，请在下面登录</div>
						<form id="login_form" method="post" >
						<div class="my_input2">
							 <div class="input_front">手机号:</div>
							 <div class="input_front"><input value="{$user_cookie_tel}" field="tel" style="" id="u_tel" class="my_login" type="text" name="u_tel"></input></div>						 
						</div>
<div style="clear:both;"></div>
						<div class="my_input2">
							 <div class="input_front">密 码:</div>
							 <div class="input_front"><input  style="" class="my_login" type="password" id="u_pass" name="u_pass" ></input></div>
						</div>
						<!--
<div style="clear:both;"></div>						
						<div class="my_input2">
							  <div class="input_front">验证码:</div><input style="width:100px;" maxlength="4"  class="my_login" type="text" name="name" ></input>
						</div>
						-->
<div style="clear:both;"></div>
						<div class="my_input2" style="">
							<div  class="yuan_login_button" onclick="submitLoginForm();" ><div style="margin:3px 0 0 64px;">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陆</div></div>
						</div>
						</form>
						<div style="color:grey;">
							<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;font-weight:bold;">重要提示：本站采用最新网页技术开发，需使用IE8或更高版本浏览器（如有问题可联系客服免费升级）</span>。
							<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推荐使用：
							<a href="http://jifendownload.2345.cn/jifen_2345/2345explorer_k39547990.exe">2345王牌浏览器 点击下载</a>
						</div>
				  </div>
				</div>
		</div>
		<include file="./Application/Home/View/Index/sub_foot.html" connect_us="{$site_info.connect_us}" web_name="{$site_info.web_name}"  count_code="{$site_info.count_code}" />
<script>
var c_start=document.cookie.indexOf("lei666_tel=");
if(c_start != -1){ $('#u_pass').focus();}else{$('#u_tel').focus();}
function submitRegisterForm(){
		$('#register_form').form('submit',{
			url: 'http://{$Think.server.server_name}/index/submitRegister',
			onSubmit: function(){
				 return $(this).form('enableValidation').form('validate');
			},
		success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						  $.messager.alert('提示',result.errorMsg,'error');
						  $('#valid_1').attr("src",'http://{$Think.server.server_name}/index/verify_code?id=1&&rnd='+Math.random());
						  //
					} else {
						$.messager.alert('提示','恭喜您注册成功,现在即将跳转后台.您就可以马上发布信息了!');
					    location.href = 'http://{$Think.server.server_name}/u/manage';
					}
				}
		});
}
function submitLoginForm(){
		$('#login_form').form('submit',{
			url: 'http://{$Think.server.server_name}/index/submitLogin',
			onSubmit: function(){
				if(''==$("#u_tel").val()){
					alert('手机号不能为空');
					$("#u_tel").focus();
					return false;
				}
				if(''==$("#u_pass").val()){
					alert('密码不能为空');
					$("#u_pass").focus();
					return false;
				}	
			},
		success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						if(result.err_no == '1')
							$("#u_tel").focus();
						if(result.err_no == '2'){
							$("#u_pass").val('');
							$("#u_pass").focus();
						}
						alert(result.errorMsg);
					} else {
					    location.href = 'http://{$Think.server.server_name}/u/manage';
					}
				}
		});
}	
</script>
</body>
</html>