<div class="top">
			<div class="top_a">
				<div class="top_left">
						<a href="[site_url]" onclick="alert('请使用Ctrl+D进行添加');" title='[site_name]' rel="sidebar">加入收藏</a>
						<a href="http://{$Think.server.server_name}/index/shortcut" target=_blank>放到桌面</a>   
&nbsp;&nbsp;&nbsp;<span style="color:blue;">[商务合作电话 小刘:13932176996]</span>						
				</div>
				<div class="top_right">					
						<!--
						<eq name="user_name" value="">
							欢迎您 [user_name] <a target=_blank href="http://{$Think.server.server_name}/u/manage">我的办公室</a>
						<else/>
							欢迎您来到 [site_name] <a href="http://{$Think.server.server_name}/index/register.html">[注册] [登陆]</a>
						</eq>
						-->	
				</div>
			</div>	
</div>